In [1]:
import pandas as pd
trainadd = pd.read_pickle('train_df_feature3.pkl')
valadd = pd.read_pickle('val_df_feature3.pkl')
testadd = pd.read_pickle('test_df_feature3.pkl')

# trainadd.drop(columns=['click_id','hour'],inplace=True)
# valadd.drop(columns=['click_id','hour'],inplace=True)
# testadd.drop(columns=['click_id','hour'],inplace=True)

trainadd.info()
valadd.info()
testadd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122070801 entries, 0 to 122070800
Data columns (total 6 columns):
B0            float32
nextClick6    float32
B1            float32
B2            float32
B3            float32
B4            float32
dtypes: float32(6)
memory usage: 3.6 GB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 62833089 entries, 122070801 to 184903889
Data columns (total 6 columns):
B0            float32
nextClick6    float32
B1            float32
B2            float32
B3            float32
B4            float32
dtypes: float32(6)
memory usage: 1.9 GB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 18790469 entries, 206194766 to 239488148
Data columns (total 6 columns):
B0            uint32
nextClick6    float32
B1            uint32
B2            uint32
B3            uint32
B4            uint32
dtypes: float32(1), uint32(5)
memory usage: 573.4 MB

In [2]:
val = pd.read_pickle('val_df_V16.pkl')
test = pd.read_pickle('test_df_V16.pkl')

# delete 'X7'
# train.drop(columns=['X7'],inplace=True)
# val.drop(columns=['X7'],inplace=True)
# test.drop(columns=['X7'],inplace=True)
                   
val.drop(columns=['prevClick','prevClick2','prevClick3','prevClick4','prevClick5'],inplace=True)
test.drop(columns=['prevClick','prevClick2','prevClick3','prevClick4','prevClick5'],inplace=True)
val.columns

Index(['app', 'channel', 'device', 'is_attributed', 'os', 'hour', 'X0', 'X2',
       'X3', 'X4', 'X5', 'X6', 'X8', 'X1', 'A0', 'A1', 'A2', 'ip_tcount',
       'ip_app_count', 'ip_app_os_count', 'ip_tchan_count', 'ip_app_os_var',
       'ip_app_channel_var_day', 'ip_app_channel_mean_hour', 'nextClick',
       'nextClick2', 'nextClick3', 'nextClick4', 'nextClick5'],
      dtype='object')

In [4]:
val.drop(columns=['nextClick3'],inplace=True)
test.drop(columns=['nextClick3'],inplace=True)

In [5]:
# del newtest
import gc
gc.collect()
# gc.collect()返回此次垃圾回收的unreachable(不可达)对象个数

7

In [8]:
# test.reset_index(drop=True,inplace=True)
# testadd.reset_index(drop=True,inplace=True)
# concat 在此之后应该也行

In [9]:
# 速度快，高效
for i in testadd.columns:
    test[i] = testadd[i].values
test.info()
test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18790469 entries, 0 to 18790468
Data columns (total 33 columns):
app                         uint16
channel                     uint16
device                      uint16
os                          uint16
hour                        uint8
X0                          uint8
X2                          uint8
X3                          uint16
X4                          uint8
X5                          uint16
X6                          uint8
X8                          uint8
X1                          uint32
A0                          uint32
A1                          uint32
A2                          uint32
ip_tcount                   uint16
ip_app_count                uint32
ip_app_os_count             uint16
ip_tchan_count              float32
ip_app_os_var               float32
ip_app_channel_var_day      float32
ip_app_channel_mean_hour    float32
nextClick                   float32
nextClick2                  float32
nextClick4                  float32
nextClick5                  float32
B0                          uint32
nextClick6                  float32
B1                          uint32
B2                          uint32
B3                          uint32
B4                          uint32
dtypes: float32(9), uint16(8), uint32(10), uint8(6)
memory usage: 1.7 GB

,app,channel,device,os,hour,X0,X2,X3,X4,X5,...,nextClick,nextClick2,nextClick4,nextClick5,B0,nextClick6,B1,B2,B3,B4
0,9,466,1,3,12,132,24,86,46,35,...,399.0,18377.0,0.0,10.0,132,18377.0,3454232,200849,385195,56168
1,21,128,1,19,12,129,24,70,35,14,...,88.0,88.0,0.0,66.0,129,88.0,3358985,206447,1440748,895768
2,9,107,1,3,12,99,20,35,31,6,...,NaN,NaN,0.0,6.0,99,NaN,1528934,70333,385195,34109
3,15,111,1,13,12,134,24,67,34,20,...,425.0,3181.0,1.0,5.0,134,3181.0,781664,54909,4211102,168399
4,12,328,1,13,12,84,19,32,25,5,...,1208.0,1208.0,0.0,4.0,84,1208.0,2410253,153182,7059426,546789

In [6]:
val.columns

Index(['app', 'channel', 'device', 'is_attributed', 'os', 'hour', 'X0', 'X2',
       'X3', 'X4', 'X5', 'X6', 'X8', 'X1', 'A0', 'A1', 'A2', 'ip_tcount',
       'ip_app_count', 'ip_app_os_count', 'ip_tchan_count', 'ip_app_os_var',
       'ip_app_channel_var_day', 'ip_app_channel_mean_hour', 'nextClick',
       'nextClick2', 'nextClick4', 'nextClick5'],
      dtype='object')

In [8]:
for i in valadd.columns:
    val[i] = valadd[i].values

In [7]:
# val.info()

In [10]:
# train.to_pickle('./train_df_V14.pkl')
val.to_pickle('./val_df_V21.pkl')
test.to_pickle('./test_df_V21.pkl')

In [11]:
del val,valadd,test,testadd
gc.collect()

430

In [12]:
train = pd.read_pickle('train_df_V16.pkl')
train.drop(columns=['prevClick','prevClick2','prevClick3','prevClick4','prevClick5','nextClick3'],inplace=True)
for i in trainadd.columns:
    train[i] = trainadd[i].values
del trainadd
gc.collect()

85

In [13]:
train.to_pickle('./train_df_V21.pkl')